@import "../styles/global";

// Naslov forme
.form-title {
  text-align: center;
  margin-top: 2rem;
  color: $secondary-color;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;

  .btn-save {
    background-color: $secondary-color;
    color: $white;
    border: none;
    padding: 12px 20px;
    border-radius: $border-radius;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.3s ease;
    width: 100%;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }

  .btn-cancel {
    background-color: #95a5a6;
    color: $white;
    padding: 12px 20px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
    width: 100%;

    &:hover {
      background-color: darken(#95a5a6, 10%);
    }
  }
}
